.row
  .col.s6
    %h4 Colin Anderson
    %span 6427 Ralph H Circle
    %br
    %span Herriman, UT 84096
  .col.s6.right-align
    %a.link{href: 'mailto:andercol.4@gmail.com'}
      andercol.4@gmail.com
    %br
    %a.link{href: 'https://linkedin.com/in/andercol4'}
      Linkedin: andercol4
    %br
    %a.link{href: 'https://github.com/andercol4'}
      Github: andercol4
    %br
